#login-container {
    width: 100%;
    padding: 2em;
    height: 80%;
}

#background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#form-container {
    min-height: 80%;
    width: 80%;
    max-width: 1200px;
    min-width: 300px; 
    background: white;
}

#form-container .col:nth-child(1) {
    background: #2C8E89;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-container .col:nth-child(1) img {
    height: 100px;
}

form {
    padding: 2rem 0;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

#inputs {
    width: 100%;
}

.field-container {
    width: 80%;
}

form button {
    background-color: #2C8E89;
    padding: 0.4rem 5rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
}
form button:hover {
    background-color: #245f70;
    cursor: pointer;
}
form button:active {
    border: 1px solid #000000;
    transition: 0.2s ease-in-out;
}

@media (max-width: 768px) {
    #form-container .col:nth-child(1) {
        display: none;
    }
}