:root {
  --sidebar-background: #257470;
  --navbar-background: #2C8E89;
  --primary-color: #2C8E89; /* Cor principal para botões, etc. */
  --fonte: Arial, sans-serif;
}

/* Base e Layout */
* {
  box-sizing: border-box;
  font-family: var(--fonte);
}

html, body {
  margin: 0;
  padding: 0; 
  height: 100vh; /* Essencial para que o layout flex funcione em 100% da tela */
}

body {
  background-color: #C4E4DF;
}

#wrapper {
  height: 100vh; /* Garante que o conteúdo ocupe toda a altura da tela, mesmo com pouco conteúdo */
}

#hamburger-toggle {
  display: none;
}

.hamburger-icon  {
  display: none;
}

/* animação do hamburger */
#hamburger-toggle:checked + .hamburger-icon span:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}
#hamburger-toggle:checked + .hamburger-icon span:nth-child(2) {
    opacity: 0;
}
#hamburger-toggle:checked + .hamburger-icon span:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}

/* Sidebar Styling (Cores e Ícones) */
#sidebar {
  background-color: var(--sidebar-background);
  color: white;
  min-width: 250px; /* Largura fixa para a sidebar (UI/UX) */
}

#sidebar a {
  color: white;
  text-decoration: none;
  transition: background-color 0.2s; 
}

#sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Efeito hover sutil */
}

#sidebar img {
  width: 30px; 
  height: 30px;
}

/* Navbar Styling */
#dashboard-navbar {
  background-color: var(--navbar-background);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  z-index: 10;
}
#dashboard-navbar img {
  height: 60px;
}

#page-content-wrapper {
  overflow-y: auto;
}

#searchInput:active {
  border: none;
}

#searchInput,
select.form-select,
input.form-control[type="date"],
input.form-control[type="text"] {
  border-color: var(--primary-color) !important;
}

#adiar-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.6); 
}

/* dashboard */
.dashboard-cards {
  max-height: 30vh;
  overflow-y: auto;
}

/* listas */
#tableWrapper {
    max-height: 80vh;
    overflow-y: auto;
}

#menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99; 
    display: none; 
    cursor: pointer;
}

@media (max-width: 1024px) {
  #sidebar {
    position: fixed;
    height: 100vh;
    z-index: 100;
    left: -250px;
  }

  .hamburger-icon {
      margin: auto;
      width: 30px; 
      height: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      z-index: 101; 
  }

  .hamburger-icon span {
      display: block;
      height: 3px;
      width: 100%;
      background: #c0c0c0;
      border-radius: 5px;
      transition: all 0.3s ease;
  }

  #hamburger-toggle:checked ~ #sidebar {
    left: 0;
    transition: left 0.3s ease;
  }

  #hamburger-toggle:checked ~ #menu-overlay {
      display: block;
  }
  #page-content-wrapper {
      position: relative;
  }
}

@media (max-width: 425px) {
  #nav-left img {
    display: none;
  }
}