:root {
  --sidebar-background: #257470;
  --navbar-background: #2C8E89;
  --primary-color: #2C8E89; /* Cor principal para botões, etc. */
  --fonte: Arial, sans-serif;
}

/* Base e Layout */
* {
  box-sizing: border-box;
  font-family: var(--fonte);
}

html, body {
  margin: 0;
  padding: 0; 
  height: 100vh; /* Essencial para que o layout flex funcione em 100% da tela */
}

body {
  background-color: #C4E4DF;
}

#wrapper {
  height: 100vh; /* Garante que o conteúdo ocupe toda a altura da tela, mesmo com pouco conteúdo */
}

/* Sidebar Styling (Cores e Ícones) */
#sidebar {
  background-color: var(--sidebar-background);
  color: white;
  min-width: 250px; /* Largura fixa para a sidebar (UI/UX) */
}

#sidebar a {
  color: white;
  text-decoration: none;
  transition: background-color 0.2s; 
}

#sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Efeito hover sutil */
}

#sidebar img {
  width: 30px; 
  height: 30px;
}

/* Navbar Styling */
#dashboard-navbar {
  background-color: var(--navbar-background);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  z-index: 10;
}
#dashboard-navbar img {
  height: 60px;
  width: auto; 
}

#dashboard-navbar .logo {
    width: 40px; 
    height: 40px;
}

#searchInput:active {
  border: none;
}

#searchInput,
select.form-select,
input.form-control[type="date"],
input.form-control[type="text"] {
  border-color: var(--primary-color) !important;
}

#adiar-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.6); 
}