.td-checkbox {
    z-index: 2;
}

#adiar-modal {
  padding: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#adiar-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.6); /* Cor escura semi-transparente */
}