{% load static %}
<div class="col-2 d-flex flex-column" id="sidebar">
    <!-- links para as outras páginas -->
    <a href="{% url 'dashboard' %}" class="text-decoration-none mb-3">
        <img src="{% static 'img/home.png' %}" alt="">
        Página inicial
    </a>
    <a href="{% url 'adm-pacientes' %}" class="text-decoration-none mb-3">
        <img src="{% static 'img/people.png' %}" alt="">
        Pacientes
    </a>
    <a href="{% url 'adm-medicos' %}" class="text-decoration-none mb-3">
        <img src="{% static 'img/medic.png' %}" alt="">
        Médicos
    </a>
    <a href="{% url 'adm-consultas' %}" class="text-decoration-none mb-3">
        <img src="{% static 'img/calendar.png' %}" alt="">
        Consultas
    </a>
</div>