{% extends 'basedashboards.html' %}

{% block title %}Adicionar Médico - Tooth & Care{% endblock %}

{% block content %}
<h3 class="mb-4 text-primary fw-bold">Adicionar Médico</h3>
<div class="card border p-4 mt-3 rounded-4">
    <form method="POST" action="{% url 'adicionar-medico' %}">
        {% csrf_token %}

        {% for field in form %}
        <div class="mb-3">
            <label for="{{ field.id }}" class="form-label">
                {{ field.label_tag }}
            </label>

            {{ field.as_widget }}

            {% for error in field.errors %}
            <div class="text-danger small mt-1">{{ error }}</div>
            {% endfor %}
        </div>
        {% endfor %}
        <a href="{% url 'adm-medicos' %}" class="btn btn-outline-primary mt-3">Cancelar</a>
        <button type="submit" class="btn btn-primary mt-3 mx-2">Salvar médico</button>
    </form>
</div>
{% endblock %}