{% extends "baseCadastro.html" %}
{% load i18n allauth account %}

{% block title %}{% trans "Link de Reset Enviado" %}{% endblock %}

{% block content %}
<div class="container d-flex flex-column align-items-center justify-content-center h-100 w-100">
    <div class="text-center w-100">
        <h2 class="card-title mb-3 text-success">{% trans "Verifique seu E-mail" %}</h2>
        
        <div class="alert alert-success p-4 w-75 mx-auto" role="alert">
            <p class="mb-0">
                {% blocktrans %}Nós enviamos um e-mail para você com as instruções de redefinição de senha. Por favor, verifique sua caixa de entrada. Se você não receber, verifique também sua pasta de spam.{% endblocktrans %}
            </p>
        </div>

        <div class="mt-4">
            <a href="{% url 'custom-login' %}" class="btn btn-outline-secondary">
                {% trans "Voltar para o Login" %}
            </a>
        </div>
    </div>
</div>
{% endblock %}